
hr{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

body {
  width: 100%;
  
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  left: 0;
  top: 40px;
  bottom: 0;
  font-family: 'Sans-serif', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS';
  text-align: center;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  position: fixed;
}

#title{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  font-family: "Times New Roman";
}

#overlay {
  text-align: center;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  height: 5%; /* Full height (cover the whole page) */
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  justify-self: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#board{
  position: fixed;
  top: 20%;
  width: 100%;
  height: 370px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.keyboard-row{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#keyboardParent{
  bottom: 0;
  height: fit-content;
  position: fixed;
}

#answer{
  font-family: "Playfair Display script=latin rev=1";
  font-weight: bold;
  color: rgba(255, 255, 255, 0);
  justify-self: center;
  height: 100%;
  top: 20px;
  margin: 0;
}

.result{
  overflow:hidden;
  width:auto;
  height: fit-content;
  display:inline;
}

#score{
  font-family: "Playfair Display script=latin rev=1";
  font-weight: bold;
  float:right;
  margin-left:25px;
}

#tries{
  font-family: "Playfair Display script=latin rev=1";
  font-weight: bold;
  float:left;
  margin-right:25px;
}

.tile{
  /*Box*/
  border: 2px solid rgb(215, 215, 215);
  width: 50px;
  height: 50px;
  margin: 2.5px;

  /*Text*/
  color: black;
  font-size: 25px;
  font-family: Sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-tile{
  width: 36px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  
  font-family: 'Times New Roman', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Sans-serif';
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
}

.correct{
/*  background-color: #6aaa64;
  color: white;
  border-color: white;*/
}

.present{
/*  background-color: #c9b458;
  color: white;
  border-color: white;*/
}

.absent{
/*  background-color: #787c7e;
  color: white;
  border-color: white;*/
}

.enter-key-tile{
  width: 76px;
  height: 50px;
  margin: 2px;

  border-radius: 5px;
  
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #797979;
}

@media (max-width: 450px) and (max-height: 700px){
  .keyboard-row{
    width: 350px;
  }

  .enter-key-tile{
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .key-tile{
    width: 30px;
    height: 50px;
    font-size: 15px;
  }

  .tile{
    width: 35px;
    height: 35px;
    font-size: 15px;
  }

  #board{
    height: 270px;
  }

  #answer{
    
  }

  #score{
    font-size: medium;
  }

  #tries{
    font-size: medium;
  }

  #title{
    font-size: large;
  }
}

@media (max-height: 1000px) and (min-height: 700px) {
  .keyboard-row{
    width: 400px;
  }

  .enter-key-tile{
    width: 55px;
    height: 60px;
    font-size: 15px;
  }

  .key-tile{
    width: 35px;
    height: 60px;
    font-size: 15px;
  }

  #answer{
    width: 100%;
    height: 50px;
    font-size: x-large;
  }

  .tile{
    width: 50px;
    height: 50px;
  }

  #board{
    width: 100%;
    height: 400px;
  }
  
  @media (max-width: 395px) {
    .keyboard-row{
      width: 390px;
    }

    .enter-key-tile{
      width: 52px;
      height: 60px;
    }

    .key-tile{
      width: 32px;
      height: 60px;
    }
  }
  
  @media (max-height: 760px) {
    .keyboard-row{
      width: 390px;
    }

    .enter-key-tile{
      width: 52px;
      height: 60px;
    }

    .key-tile{
      width: 32px;
      height: 60px;
    }

    .tile{
      /*Box*/
      width: 40px;
      height: 40px;
    }

    #board{
      height: 300px;
    }
    
    @media (max-width: 370px) {
      .keyboard-row{
        width: 370px;
      }

      .enter-key-tile{
        width: 50px;
        height: 60px;
      }

      .key-tile{
        width: 30px;
        height: 60px;
      }

      .tile{
        /*Box*/
        width: 40px;
        height: 40px;
      }

      #board{
        height: 300px;
      }
    }
  }
}

@media (max-height: 1500px) and (min-height: 1000px)
{
  .keyboard-row{
    width: 650px;
  }

  .enter-key-tile{
    width: 80px;
    height: 100px;
  }

  .key-tile{
    width: 60px;
    height: 100px;
  }

  .tile{
    /*Box*/
    width: 70px;
    height: 70px;
  }

  #board{
    height: 500px;
  }
}