body{
  font-family: 'Sans-serif', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS';
  text-align: center;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

hr{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

html{
  display: flex;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#title{
  font-size: 35px;
  font-weight: bold;
  font-family: "Times New Roman";
}

#body{
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  width: 100%;
  flex-wrap: wrap;
}

#board{
  width: 100%;
  height: 370px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.keyboard-row{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#answer{
  width: 400px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Playfair Display script=latin rev=1";
  font-weight: bold;
}

.result{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#score{
  font-family: "Playfair Display script=latin rev=1";
  font-weight: bold;
}

#tries{
  font-family: "Playfair Display script=latin rev=1";
  font-weight: bold;
}

.tile{
  /*Box*/
  border: 2px solid rgb(215, 215, 215);
  width: 50px;
  height: 50px;
  margin: 2.5px;

  /*Text*/
  color: black;
  font-size: 25px;
  font-family: Sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-tile{
  width: 36px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  
  font-family: 'Times New Roman', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Sans-serif';
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
}

.correct{
/*  background-color: #6aaa64;
  color: white;
  border-color: white;*/
}

.present{
/*  background-color: #c9b458;
  color: white;
  border-color: white;*/
}

.absent{
/*  background-color: #787c7e;
  color: white;
  border-color: white;*/
}

.enter-key-tile{
  width: 76px;
  height: 50px;
  margin: 2px;

  border-radius: 5px;
  
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #797979;
}

@media (max-width: 450px) and (max-height: 650px){
  .keyboard-row{
    width: 350px;
  }

  .enter-key-tile{
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .key-tile{
    width: 30px;
    height: 50px;
    font-size: 15px;
  }

  #answer{
    width: auto;
    height: auto;
  }

  .tile{
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  #board{
    height: 230px;
  }

  .result{
    display: grid;
  }

  #score{
    font-size: medium;
  }

  #tries{
    font-size: medium;
  }

  #title{
    font-size: large;
  }
}

@media (max-height: 1000px) and (min-height: 700px) {
  .keyboard-row{
    width: 400px;
  }

  .enter-key-tile{
    width: 55px;
    height: 60px;
  }

  .key-tile{
    width: 35px;
    height: 60px;
  }

  #answer{
    width: 300px;
    height: 20px;
  }

  .tile{
    width: 50px;
    height: 50px;
  }

  #board{
    width: 100%;
    height: 400px;
  }

  #answer{
    width: auto;
    height: auto;
  }
  
  @media (max-width: 395px) {
    .keyboard-row{
      width: 390px;
    }

    .enter-key-tile{
      width: 52px;
      height: 60px;
    }

    .key-tile{
      width: 32px;
      height: 60px;
    }
  }
  
  @media (max-height: 760px) {
    .keyboard-row{
      width: 390px;
    }

    .enter-key-tile{
      width: 52px;
      height: 60px;
    }

    .key-tile{
      width: 32px;
      height: 60px;
    }

    .tile{
      /*Box*/
      width: 40px;
      height: 40px;
    }

    #board{
      height: 300px;
    }
    
    @media (max-width: 370px) {
      .keyboard-row{
        width: 370px;
      }

      .enter-key-tile{
        width: 50px;
        height: 60px;
      }

      .key-tile{
        width: 30px;
        height: 60px;
      }

      .tile{
        /*Box*/
        width: 40px;
        height: 40px;
      }

      #board{
        height: 300px;
      }
    }
  }

}